

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.row-1 {width: 100%; display: flex;flex-direction: row;}

@font-face {
  font-family: 'bebas_neueregular';
  src: url('../fonts/bebasneueregular-gxj83-webfont.woff2') format('woff2'),
       url('../fonts/bebasneueregular-gxj83-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'robotolight';
  src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
       url('../fonts/roboto-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'robotothin';
  src: url('../fonts/roboto-thin-webfont.woff2') format('woff2'),
       url('../fonts/roboto-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotobold';
  src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
       url('../fonts/roboto-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/bebasneueregular-gxj83-webfont.woff2') format('woff2'),
       url('../fonts/bebasneueregular-gxj83-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}



body{

  font-family: 'robotothin';
  background-color: #ffff;
}
.principal{

  width: 1349px;
  height: 5356px;
  /* padding-left: 50px; */
  /* padding-right: 50px; */
  background: #fff;
  margin: 0 auto;

}

#logo{
  
  padding-top: 35px;
  margin-left: 104px;
 
}

#logo button{
  background: transparent;
  border: none !important;
  font-size:0;
}

#menu {
  list-style-type: none;
  margin-left: 80px;
  overflow: hidden;
  padding-top: 50px;
}
#menu dt {
  float: left;
  padding: 10px;
}

#menu a {
  display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    margin-left: 74px;
}

.entrar {
  background-color:#FEE774;
  border-radius: 20px;
  width: 120px;
  height: 47px;
  left: 1147px;
  top: 72px;
  border: #FEE774;
  margin-left: 100px;
  font-size: 14px;
  cursor: pointer;

}

.teste{
  font-family: 'bebas_neueregular';
  font-style: normal;
  font-weight: normal;
  font-size: 58px;
  line-height: 58px;
  width: 565px;
  margin-left: 104px;
  padding-top: 135px;
  background-color: #ffff;
}

.ft{
  margin-left: 41px;
  width: 465px;
  padding-top: 40px;
}

.part2{
  padding-top: 35px;
    margin-left: 52px;
    font-weight: normal;
    font-size: 20px;
}
.botao{
  background-color: #63AAEB;
  border: #63AAEB;
  color: #ffff;
  border-radius: 20px;
  width: 249px;
  height: 72px;
  margin-left: 13px;
  margin-top: 18px;
  font-size: 18px;
  cursor: pointer;

}
.detalhes{
  margin-left: 83px;
    padding-top: 60px;
    margin-right: 61px;
}

.detalhes span{
  display: block;
  font-family: 'robotolight';
  padding-top: 30px;
  font-weight: 300;
  font-size: 26px;
  
}
.detalhes p{
  padding-top: 12px;
  font-size: 20px;
  width: 290px;
}

.detalhes img{
  display: block;
  
}

.areas{
  padding-top: 100px;
  margin-left: 100px;
  font-family: 'robotothin';
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
}


.imagens .cores:hover{
  background-color: #FEE774;
  
 
}
.cores{
  background-color: #BDDBFF;
    border-radius: 10px;
    margin-left: 93px;
    margin-top: 50px;
    font-size: 18px;
    text-align: center;
    padding-left: 10px;
    width: 210px;

}
.imagens img{
  padding-top: 14px;
}

.imagens span{
  padding-top: 1px;
    font-weight: 600;
    text-align: center;
    margin-top: 17px;
    display: block;
}

.cor{
  background: #c4c4c446;
  border-radius: 25px;
  width: 432px;
  height: 387px;
  margin-top: 133px;
  margin-left: 103px;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 21px;
  padding-top: 44px;
  padding-left: 20px;
  padding-right: 20px;
}

.cor2{
  padding-top: 70px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    width: 469px;
    margin-left: 100px;
}

#imgcor{
  margin-left: -110px;
  width: 730px;
}
#imgcor2{
  width: 730px;
}


.cor3{
  background: #c4c4c446;
  border-radius: 25px;
  width: 465px;
  height: 164px;
  margin-top: -193px;
  margin-left: 30px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  padding-top: 235px;
  padding-left: 20px;
  padding-right: 20px;
}

.areas2{
  padding-top: 200px;
  margin-left: 100px;
  font-family: 'robotothin';
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
}

.alunos{
  background: #F0F0F0;
    border-radius: 25px;
    width: 465px;
    height: 93px;
    margin-left: 100px;
    margin-top: 30px;
}
.me{
  display: block;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 23px;

}

.me span{
  display: block;
  margin-top: -47px;
  margin-left: 100px;
}

#nomep{
  font-weight: 800;
  font-size: 25px;
}

.salvou{
  width: 620px;
  height: 291px;
  margin-left: 33px;
  padding-left: 37px;
  background: #DDEFFD;
  border-radius: 0px 145.5px 50px;
  font-style: normal;
  font-weight: 200;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  margin-top: 64px;

}

.salvou p{
  width: 593px;
height: 103.85px;
left: 654px;
top: 2451.15px;
}


.azul{
  background-color: #63AAEB;
  margin-top: 450px;
  list-style-type: none;
  overflow: hidden;
  padding-top: 40px;
  
}
.azul a{
  text-decoration: none;
  font-weight:700;
  font-size: 24px;
  line-height: 40px;
  margin-left: 78px;
  color: black;
  text-align: center;

}
.azul dt{
  float: left;
  padding: 10px;
  margin-left: 9px;
}


.me .alunos:hover{
  background-color: #FEE774;
  
 
}
#enemuladinho{
  margin-left: 130px;
}
#burrozinho{
  margin-left: -128px;
}
.igs{
  margin-left: 100px;
  padding-top: 230px;
}
.EB{
  padding-top: 90px;
}
.EB button{
  background: transparent;
  border: none !important;
  font-size:0;
}

#blog{
  display: flex;
    width: 514px;
}

#perfil{
  margin-left: 104px;
}

#texto1{
  font-weight: 200;
  font-size: 34px;
  line-height: 36px;
  margin-left: 100px;
  padding-top: 35px;

}
#titulo{
  margin-left: 100px;
  margin-top: 90px;
  font-size: 48px;
}

.professorzinho{
  margin-left: 20px;
  width: 550px;
}
.titulo2{
  margin-left: 104px;
  font-size: 25px;
  line-height: 56px;
  margin-top: 52px;
}

.paragrafos{
  font-style: normal;
  font-weight: 200;
  font-size: 32px;
  line-height: 43px;
  margin-left: 104px;
  width: 1118px;
}

.titulo3{
  margin-left: 104px;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 56px;
  margin-top: 130px;
}

.time{
  margin-left: 94px;
    width: 1157px;
}
.time span{
  width: 421px;
  display: block;
  font-weight: 500;
  font-size: 26px;
  line-height: 0px;
  margin-left: -30px;
  margin-top: 45px;
  text-align: center;
}
#nomex{
  font-weight: 900;
}
.conta{
  padding-top: 40px;
  margin-left: 110px;
  display: flex;
  line-height: 56px;
  font-weight:600;
  color:#666666;


}
.conta input{
  border: 1px solid #ceced6;
  box-sizing: border-box;
  border-radius: 6px;
  display: block;
  width: 350px;
  height: 48px;
  margin-bottom: 8px;
  color: #ceced6;
  padding-left: 12px;
  outline: none;
  

}
.conta img{
  width: 693px;
 height: 595px;
left: 684px;
top: 165px;
margin-left: -100px;

}
.conta button{
  width: 312px;
height: 48px;
margin-left: 15px;
top: 619px;
background: #63AAEB;
border-radius: 100px;
border: none;
color: aliceblue;
margin-top: 12px;
}


.erro{
  margin-left: 300px;
}

.login{
  margin-left: 115px;
  margin-top: 49px;
  display: block;
}

.login button{
  width: 312px;
height: 48px;
left: 121px;
top: 209px;
border: 1px solid #D5D7DC;
box-sizing: border-box;
border-radius: 100px;
display: block;
margin-top: 15px;
}

#ou{
  margin-left: 143px;
}

.lo input{
  width: 312px;
height: 48px;
border: 1px solid #D5D7DC;
box-sizing: border-box;
border-radius: 6px;
display: block;
padding-left: 12px;
  outline: none;
  margin-top: 15px;
}

.lo button{
  width: 312px;
  height: 48px;
  background: #63AAEB;
  border-radius: 100px;
  color: #ffff;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}
#criar{
  width: 312px;
height: 48px;
border: 1px solid #63AAEB;
box-sizing: border-box;
border-radius: 100px;
background-color: #ffffff;
color: #63AAEB;
margin-top: 95px;
outline: none;
cursor: pointer;



}
.login2{
  margin-left: -170px;
}
.esqueci{
  width: 135px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  margin-left: 183px;
  padding-top: 10px;
}
.log{
  margin-left: 104px;
  padding-top: 50px;
}


.admin{
  margin-left: 360px;
  padding-top: 20px;
}

.admin img{
  margin-left: -460px;
  width: 532px;
    height: 419px;
}
.load{
  padding-top: 45px;
}

.load input{
  width: 312px;
height: 48px;
border: 1px solid #D5D7DC;
box-sizing: border-box;
border-radius: 6px;
display: block;
padding-left: 12px;
  outline: none;
  margin-top: 15px;
}

.load button{
  width: 312px;
  height: 48px;
  background: #63AAEB;
  border-radius: 100px;
  color: #ffff;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}

.base{
  margin-left: 110px;
  font-weight: 300;
  font-size: 27px;
  line-height: 37px;
  padding-top: 110px;
}
.conhecimento{
  border: 1px solid #D5D7DC;
  box-sizing: border-box;
  border-radius: 6px;
  width: 998px;
  height: 48px;
  margin-left: 111px;
  padding-left: 25px;
  font-size: 17px;
  margin-top: 25px;
  font-family: 'robotothin';
  outline: none;
}
.questionario{
  margin-left: 118px;
  width: 1291px;
  margin-top: 30px;
}
.questionario1{
  border: 1px solid #D5D7DC;
  outline: none;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 16px;
  margin-top: -13px;
  font-family: 'robotothin';
  width: 180px;
  height: 48px;
  display: block;
  margin-left: -10px;
}
#menor{
  width: 116px;
  height: 48px;
  margin-left: -5px;
}
.textoP{
  width: 1002px;
  height: 248px;
  border: 1px solid #D5D7DC;
  box-sizing: border-box;
  border-radius: 6px;
  outline: none;
  display: block;
  margin-top: 15px;
}
.textoPC{
  margin-left: 111px;
  margin-top: 45px;
  font-size: 16px;
}

.imagemTCF{
  width: 218px;
  height: 40px;
  border: 1px solid #D5D7DC;
  box-sizing: border-box;
  border-radius: 6px;
  margin-left: 111px;
  margin-top: 45px;
  padding-left: 7px;

}

#camera{
  width: 30px;
  margin-left: 45px;
  cursor: pointer;
}
#camera:hover{
 background: #666666;
}

#png{
  margin-left: 26px;
  padding-top: 5px; 
  display:none;
}
#TCF{
  margin-left: 26px;
  padding-top: 5px;
}

.resposta{
  margin-left: 111px;
  margin-top: 45px;
  font-size: 16px;
  display: block;
}
.resposta input{
  width: 1002px;
  height: 120px;
  border: 1px solid #D5D7DC;
  box-sizing: border-box;
  border-radius: 6px;
  outline: none;
  display: block;
  margin-top: 15px;
}

.resposta span{
  margin-top: 45px;
}
.corretas{
  padding-top: 90px;
  margin-left: 111px;
}

.ultimoBO{
  width: 312px;
  height: 48px;
  border: 1px solid #63AAEB;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: #63AAEB;
  color: #ffffff;
  margin-top: 95px;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 111px;
}

.logo_nome img{
  margin-left: 45px;
  width: 120px;
  height: 24px;
  padding-top: 45px;
}

.listaLateral {
  height: 710px;
  width: 240px;
  background: #63AAEB;
  color: #ffffff;
}

.listaLateral .logo_content .i{
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.listaLateral #btn{
  margin-left: 207px;
  padding-top: 10px;
}
.lista{

  margin-top: 45px;
  list-style-type: none;
  font-size: 16px;
  line-height: 65px;
  height: 375px;

}
.sair img{
  margin-left: 30px;
}
.editar{
  margin-left: 95px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  padding-top: 55px;
  display: block;
}
.conta1{
  display: block;
  margin-left: -109px;
}
.princ7{
  padding-top: 100px;
  margin-left: -65px;
}
.simulados{
  margin-left: 111px;
}
.imagensSimulado .coresS:hover{

    background-color: #FEE774;

}
.coresS{
  background-color: #BDDBFF;
  border-radius: 10px;
  margin-left: 51px;
  margin-top: 50px;
  font-size: 18px;
  text-align: center;
  padding-left: 10px;
  width: 210px;
  height: 184px;

}
.imagensSimulado img{
  padding-top: 14px;
}

.imagensSimulado span{
  padding-top: 1px;
    font-weight: 600;
    text-align: center;
    margin-top: 17px;
    display: block;
}


.nota{
  margin-left: 365px;
}

.prooo{
  margin-left: 55px;

}

.prooo img{
  padding-top: 45px;
}


